<div class="jumbotron">
  <h1>Hoardle, make link sharing easy!</h1>
  <p>Do you know the stupid moment you are browsing on your smartphone and you want to share a link with another device.</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div